@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247 247 251;
    /* #F7F7FB */
    --foreground: 15 23 42;
  }
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.input {
  @apply w-full px-5 py-4 rounded-xl border border-gray-200 outline-none focus:border-black transition-all duration-200;
}